.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #592f2f;
    border-radius: 15px;
    border: 3px solid #9edb0d;
}

.text {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.text_colored {
    color: #9edb0d;
}
