.footer {
    max-width: 90%;
    margin: 0 auto;
    padding: 25px 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    padding: 25px;
    color: #306b01;
}